DATABASE_URL=postgresql+asyncpg://postgres:<password>@<host>:<port>/<database>
EXPIRE_ON_COMMIT=True

ACCESS_SECRET_KEY=<str>
ACCESS_TOKEN_EXPIRE_SECONDS=3600

FRONTEND_URL=http://localhost:3000
CORS_ORIGINS=<str>